# Export all names
exportPattern(".")
importFrom(pso, psoptim)
importFrom(stats, dnorm)
importFrom(stats, pnorm)
importFrom(stats, qnorm)
importFrom(stats, rnorm)
importFrom(stats, dlnorm)
importFrom(stats, plnorm)
importFrom(stats, qlnorm)
importFrom(stats, rlnorm)
importFrom(stats, runif)
importFrom(stats, dgamma)
importFrom(stats, pgamma)
importFrom(stats, qgamma)
importFrom(stats, rgamma)
importFrom(stats, dweibull)
importFrom(stats, pweibull)
importFrom(stats, qweibull)
importFrom(stats, rweibull)
importFrom(stats, optim)
importFrom(graphics, abline)
importFrom(graphics, segments)
importFrom(grDevices, dev.new)

